{% comment %} One publication as a list item for the CV. Use inside <ol>. {% endcomment %}
{% include base_path %}
<li class="cv-pub">
  <strong><a href="{% if post.paperurl and post.paperurl != ' ' %}{{ post.paperurl }}{% else %}{{ base_path }}{{ post.url }}{% endif %}">{{ post.title }}</a></strong>
  {% if post.citation and post.citation != ' ' %}<br><span class="archive__item-excerpt">{{ post.citation }}</span>
  {% elsif post.venue %}<br><em>{{ post.venue }}</em>, {{ post.date | date: "%Y" }}{% endif %}
</li>
